<div class="teste">
  <!-- Cabeçalho -->
  <header class="header">
    <div class="logo">
         <img src="logoInova.png" alt="Minha imagem">
    </div>
  </header>

  <!-- Conteúdo principal -->
  <div class="content">
    <!-- Caixa de login -->
    <div class="login">
      <h2>Realize seu login</h2>

      <div *ngIf="erro" class="alert alert-danger">{{ erro }}</div>

      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Digite seu email">
      </div>

      <div class="form-group mb-3">
        <label for="senha">Senha</label>
        <input type="password" id="senha" class="form-control" [(ngModel)]="senha" name="senha" placeholder="Digite sua senha">
      </div>

      <button (click)="logar()" class="btn-entrar">Entrar</button>

      <a href="../cadastro" class="link">Cadastre-se</a>
      <a href="#" class="link">Esqueci minha senha</a>
    </div>

    <!-- Imagem à direita -->
    <div class="imagem">

      <img src="image.png" alt="Minha imagem"> <!-- CORRETO -->

    </div>
  </div>
</div>
